body {
  margin: 0;
} 

header {
  justify-content: center;
  width: 100%;
  height: 724px;
  background-color: wheat;
}

.nav {
  margin-top: 30px;
  margin: 0px auto 0px auto;
  width: 1300px;
  height: 70px;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > form > input {
  width: 450px;
  height: 70px;
  border: none;
  background-color: rgba(0, 0, 0, 10%);
}

.nav > ul > form > button {
  width: 50px;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 10%);
  color: wheat;
  border: none;
}

.menu-bar {
  position: fixed;
  border: 0;
  background-color: #2B3856;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* 목차 */
.index h3 {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}
